extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Edit Customer
			small menu for editing customer data
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Level 
			li.active Here 
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| Toko Sembako
				.box-tools.pull-right
					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
						i.fa.fa-minus
					
			.box-body
				form(role='form',method='post' action='/sembako/edit/#{(id==undefined) ? data.id : id}' enctype='multipart/form-data')
					.row
						
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Alert! 
										| !{messages.msg_error}
								- if (messages.msg_info) 
									.alert.alert-success.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Success! 
										| !{messages.msg_info}
								.form-group
									label
										| Nama Barang
									input(type='text',value="#{data.nama_barang}",name='nama_barang',placeholder='Enter Nama Barang', autofocus).form-control
								.form-group
									label
										| Kode
									input(type='text',value="#{ (kode == undefined) ? data.kode : kode }",name='kode',placeholder='Enter kategori').form-control
								.form-group
									label
										| Kategori
									select(type="text" name="kategori" placeholder="Masukan Kategori", required).form-control
										option(value="#{ (kategori == undefined) ? data.kategori : kategori }") #{ (kategori == undefined) ? data.kategori : kategori }
										option(value="Bahan Pokok") Bahan Pokok
										option(value="Bahan Bakar") Bahan Bakar
										option(value="Makanan Ringan") Makanan Ringan
										option(value="Minyak") Minyak
										option(value="Telur") Telur
										option(value="Gula") Gula
										option(value="Susu") Susu
										option(value="Daging") Daging
										option(value="Saus") Saus
										option(value="Kecap") Kecap
									label
										| Harga
									input(type='text',value="#{ (harga == undefined) ? data.harga : harga }",name='harga',placeholder='Enter Harga').form-control
								.form-group
									label
										| Stok
									input(type='text',value="#{ (stok == undefined) ? data.stok : stok }",name='stok',placeholder='Enter Stok').form-control
								.form-group
									label
										| Gambar
									input(type='file',name='gambar', value="#{ (gambar == undefined) ? data.gambar : gambar }").form-control
							.box-footer
								input(type="hidden",name="_method", value="PUT")
								button(type='submit').btn.btn-primary
									i.fa.fa-pencil 
									|  Edit
								a(href='/sembako').btn.btn-primary.pull-right
									| Back